<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>400</error-code>
        <location>/erreur.jsp</location>
        <!-- Remplacez "erreur.jsp" par le chemin de votre page d'erreur personnalisée -->
    </error-page>
    <servlet>
        <servlet-name>PosteControlleur</servlet-name>
        <servlet-class>controleur.PosteControlleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalairePosteControlleur</servlet-name>
        <servlet-class>controleur.SalairePosteControlleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatiereControleur</servlet-name>
        <servlet-class>controleur.MatiereControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookControleur</servlet-name>
        <servlet-class>controleur.LookControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookMatiereControleur</servlet-name>
        <servlet-class>controleur.LookMatiereControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrieControleur</servlet-name>
        <servlet-class>controleur.TrieControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeController</servlet-name>
        <servlet-class>controleur.TypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TailleController</servlet-name>
        <servlet-class>controleur.TailleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoketraController</servlet-name>
        <servlet-class>controleur.PoketraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PirxControleur</servlet-name>
        <servlet-class>controleur.PirxControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TriePrix</servlet-name>
        <servlet-class>controleur.TriePrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoketraMatiereController</servlet-name>
        <servlet-class>controleur.PoketraMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatiereEnStockControleur</servlet-name>
        <servlet-class>controleur.MatiereEnStockControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FabricationControleur</servlet-name>
        <servlet-class>controleur.FabricationControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonneController</servlet-name>
        <servlet-class>controleur.PersonneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrixVenteController</servlet-name>
        <servlet-class>controleur.PrixVenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoketraKaramaControleur</servlet-name>
        <servlet-class>controleur.PoketraKaramaControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoketraMakerControlleur</servlet-name>
        <servlet-class>controleur.PoketraMakerControlleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeneficeController</servlet-name>
        <servlet-class>controleur.BeneficeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeFinale</servlet-name>
        <servlet-class>controleur.ListeFinale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeFinale</servlet-name>
        <url-pattern>/ListeFinale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonnePosteControleur</servlet-name>
        <servlet-class>controleur.PersonnePosteControleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controle</servlet-name>
        <servlet-class>controleur.controle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonnePosteControleur</servlet-name>
        <url-pattern>/PersonnePosteControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosteControlleur</servlet-name>
        <url-pattern>/PosteControlleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalairePosteControlleur</servlet-name>
        <url-pattern>/SalairePosteControlleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatiereControleur</servlet-name>
        <url-pattern>/MatiereControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookControleur</servlet-name>
        <url-pattern>/LookControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookMatiereControleur</servlet-name>
        <url-pattern>/LookMatiereControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrieControleur</servlet-name>
        <url-pattern>/TrieControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeController</servlet-name>
        <url-pattern>/TypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TailleController</servlet-name>
        <url-pattern>/TailleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoketraController</servlet-name>
        <url-pattern>/PoketraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PirxControleur</servlet-name>
        <url-pattern>/PirxControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TriePrix</servlet-name>
        <url-pattern>/TriePrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoketraMatiereController</servlet-name>
        <url-pattern>/PoketraMatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatiereEnStockControleur</servlet-name>
        <url-pattern>/MatiereEnStockControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FabricationControleur</servlet-name>
        <url-pattern>/FabricationControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonneController</servlet-name>
        <url-pattern>/PersonneController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrixVenteController</servlet-name>
        <url-pattern>/PrixVenteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoketraKaramaControleur</servlet-name>
        <url-pattern>/PoketraKaramaControleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoketraMakerControlleur</servlet-name>
        <url-pattern>/PoketraMakerControlleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeneficeController</servlet-name>
        <url-pattern>/BeneficeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controle</servlet-name>
        <url-pattern>/controle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
